#cm-events-calendar {
	width: 100%;
	min-height: 100%;
}

.cm-events-category-selector span.select2 {
	width: 100% !important;
}

.status-icon {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: absolute;
  right: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  z-index: 100000;
}

.status-cancelled:before {
	content: "\e014"; /* glyphixon-remove */
	color: #b81e3f;
}

.status-full:before {
	content: "\e090"; /* glyphicon-ban-circle */
	color: #8f8c8c;
}

.status-started:before {
	content: "\e109"; /* glyphicon-calendar */
	color: #8f8c8c;
}

.status-open:before {
	content: "\e013"; /* glyphicon-ok */
	color: #22962c;
}
